---
---
z { display: none } // Ignore this


// Colors
$sage-blue:              #00324b;
$sage-black:             #000000;
$sage-grey-dark-extra:   #191919;
$sage-grey-dark:         #323232;
$sage-grey-medium-dark:  #4b4b4b;
$sage-grey-medium:       #646464;
$sage-grey-medium-light: #969696;
$sage-grey-light:        #c8c8c8;
$sage-white:             #fafafa;
$sage-red:               #fa194b;
$sage-orange:            #faaf19;
$sage-aqua:              #4bfae1;

// Breakpoints
$large-breakpoint:  64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color:      $sage-white;
$header-bg-color:           $sage-black;
$header-bg-color-secondary: $sage-blue;

// Text
$section-headings-color: $sage-white;
$body-text-color:        $sage-grey-light;
$body-link-color:        $sage-white;
$blockquote-text-color:  $sage-grey-light;
$header-text:    2rem;
$subheader-text: 1.2rem;
$large-text:     1rem;
$medium-text:    0.9rem;
$small-text:     0.8rem;

// Code
$code-bg-color:   $sage-black;
$code-text-color: $sage-grey-light;

// Borders
$border-color:       $sage-grey-dark;
$table-border-color: $sage-grey-dark;
$hr-border-color:    $sage-grey-dark;

@import "{{ site.theme }}";


// Body
body {
	background-color: $sage-grey-dark;
	font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
}


// Home page
header.home-header {
	color: $header-heading-color;
	text-align: left;
	background-color: $header-bg-color;
	background-image: linear-gradient(90deg, $sage-black, $sage-blue);

	@include large {
		padding: 5rem;
	}

	@include medium {
		padding: 4rem;
	}

	@include small {
		padding: 3rem;
	}
}

div.homeheader {
    vertical-align: top;
    text-align: center;

	@include large {
		width: 10rem;
	}

	@include medium {
		width: 8rem;
	}

	@include small {
		width: 6rem;
	}
}

div.pnfheader {
    vertical-align: top;
    text-align: left;
}

img.homeheaderlogo {
	display: inline;
	margin-left: auto;

	@include large {
		width: 10rem;
		height: 10rem;
	}

	@include medium {
		width: 8rem;
		height: 8rem;
	}

	@include small {
		width: 6rem;
		height: 6rem;
	}
}

h1.project-name {
	margin-top: 0;
    margin-bottom: 0;
}

h2.project-tagline {
    margin-bottom: 1rem;
}

main.home-content {
	margin: 0;

	@include large {
		padding: 5rem;
	}

	@include medium {
		padding: 4rem;
	}

	@include small {
		padding: 3rem;
	}

	blockquote, code, pre {
		font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
		color: $body-text-color;
		padding: 0;
		@include large  { font-size: $large-text;  }
		@include medium { font-size: $medium-text; }
		@include small  { font-size: $small-text;  }
	}

	blockquote {
		font-style: italic;
	}

	code {
		color: $sage-white;
	}

	pre {
		padding: 1rem 1.5rem;
	}
}


// Regular page
.main-content .highlight pre, .main-content pre {
    border-radius: 0;
}

header.page-header {
	color: $header-heading-color;
	background-color: $header-bg-color;
	background-image: linear-gradient(90deg, $sage-black, $sage-blue);
	text-align: left;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0;
	z-index: 9999;
}

div.pageheader {
    display: flex;
    align-items: center;
}

div.pageheaderlogo {
	display: flex;
    align-items: center;
	justify-content: center;
	height: 6rem;
	width: 6rem;
	min-width: 6rem;
	transition: 1s;
}

img.pageheaderimg {
	width: 5rem;
	height: 5rem;
	transition: 1s;
}

div.pageheadertext {
	display: inline;
}

div.pageheadertitle {
    display: flex;
    vertical-align: middle;
	padding: 0;
}

h1.page-name {
	margin: 0;
	font-size: $header-text;
	transition: 1s;
}

div.pageheadersubtitle {
	display: flex;
    vertical-align: middle;
	padding: 0;
}

h2.page-name-sub {
	margin: 0;
	font-size: $subheader-text;
	transition: 1s;
}

main.page-content {
	margin: 0;
	max-width: 100%;
	padding-top: 11rem;

	@include large {
		padding-left: 5rem;
		padding-right: 5rem;
		font-size: $large-text;
	}

	@include medium {
		padding-left: 3rem;
		padding-right: 3rem;
		font-size: $medium-text;
	}

	@include small {
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: $small-text;
	}

	blockquote, code, pre {
		font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
		color: $body-text-color;
		padding: 0;
		@include large  { font-size: $large-text;  }
		@include medium { font-size: $medium-text; }
		@include small  { font-size: $small-text;  }
	}

	blockquote {
		font-style: italic;
	}

	code {
		color: $sage-white;
	}

	pre {
		padding: 1rem 1.5rem;
	}
}

a.headerlink {
	color: $sage-grey-light;
	margin-right: 1em;
}


// Docker cheatsheet
.outercollapsible,
.innercollapsible {
	background-color: $sage-grey-dark;
	outline: none;
	text-align: left;
	width: 100%;
}

.outercollapsible {
	border: none;
	padding: 0.25rem;
}

.innercollapsible {
	background-color: $sage-grey-dark-extra;
	border: 2px solid $sage-grey-dark-extra;
	padding: 0;
}

.dcs-active,
.outercollapsible:hover,
.innercollapsible:hover {
	background-color: $sage-grey-medium;
}

.outercollapsible::before,
.innercollapsible::before {
	color: $sage-white;
	content: '\002B\00A0';
	float: left;
	font-weight: bold;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

.outercollapsible::after {
	margin-left: 0.25rem;
}

.innercollapsible::after {
	margin-left: 1.25rem;
}

.dcs-active::before {
	content: "\2212\00A0";
}

.panelContent {
	background-color: $sage-grey-dark-extra;
	color: $sage-white;
}

.outerPanel,
.innerPanel {
	display: none;
}

.outerPanel.show,
.innerPanel.show {
	display: block;
	line-height: normal;
}

div.panelContent pre {
	background-color: $sage-grey-dark-extra;
	color: $sage-grey-medium-light;
	margin: 0;
	overflow-y: hidden;
	overflow-x: auto;
	tab-size: 4;
	white-space: pre;
}

div.panelContent pre code {
	background-color: $sage-grey-dark-extra;
}

a.viewcontrol {
	color: $sage-grey-light;
}

h3.viewcontrol {
	margin-top: 0;
}


// RegEx cheatsheet
table.regexTable {
	border: 1px solid $sage-grey-dark;
	background-color: $sage-grey-dark-extra;
	background: $sage-grey-dark-extra;
	text-align: left;
	border-collapse: collapse;
	width: auto;
	display: revert;
}

table.regexTable td, table.regexTable th {
	border: 1px solid $sage-grey-dark;
	padding: 0.25rem 0.5rem;
}

table.regexTable tbody td code {
	background-color: $sage-grey-dark-extra;
}

table.regexTable thead th {
	background: $sage-grey-medium;
}


// SQL Server knowledge map
ul.nested, #myUL {
	list-style-type: none;
}

#myUL {
	margin: 0;
	padding: 0;
}

li.skip, li.know, li.none {
	padding: 0.25rem;
}

li.skip {
	color: #969696;
}

li.know {
	color: #c8c8c8;
}

li.none {
	color: #c8c8c8;
}

li span.poscaret, li span.negcaret {
	cursor: pointer;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	padding: 0.25rem;
}

li span.negcaret::before {
	color: #fafafa;
	content: '\2212\00A0';
	float: left;
	font-weight: bold;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

li span.poscaret::before {
	color: #fafafa;
	content: '\002B\00A0';
	float: left;
	font-weight: bold;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

li span.poscaret-down::before {
	color: #fafafa;
	content: '\2212\00A0';
	float: left;
	font-weight: bold;
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}

ul.nested {
	display: none;
}

ul.nested.skm-active {
	display: block;
}

a.docslink {
	color: #969696;
}


// General
a:link {
	text-decoration: none;
}

a:hover,
a.headerlink:hover {
	color: $sage-aqua;
	transition: 0.5s;
}

a img {
	padding: 0;
	margin: 0;
	display: block;
}

br {
	display: block;
	content: "";
	margin-top: 2em;
}

ul {
	list-style-type: square;
}