---
---
z { display: none } // Ignore this


// Colors
$sage-blue: #00324b;
$sage-black: #000000;
$sage-grey-dark-extra: #191919;
$sage-grey-dark: #323232;
$sage-grey-medium-dark: #4b4b4b;
$sage-grey-medium: #646464;
$sage-grey-medium-light: #969696;
$sage-grey-light: #c8c8c8;
$sage-white: #fafafa;
$sage-red: #fa194b;
$sage-orange: #faaf19;
$sage-aqua: #4bfae1;

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;

// Headers
$header-heading-color: $sage-white;
$header-bg-color: $sage-black;
$header-bg-color-secondary: $sage-blue;

// Text
$section-headings-color: $sage-white;
$body-text-color: $sage-grey-light;
$body-link-color: $sage-white;
$blockquote-text-color: $sage-grey-light;

// Code
$code-bg-color: $sage-black;
$code-text-color: $sage-grey-light;

// Borders
$border-color: $sage-grey-dark;
$table-border-color: $sage-grey-dark;
$hr-border-color: $sage-grey-dark;

@import "{{ site.theme }}";


// Body
body {
	background-color: $sage-grey-dark;
	font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
}


// Home page
header.home-header {
	color: $header-heading-color;
	text-align: left;
	background-color: $header-bg-color;
	background-image: linear-gradient(90deg, $sage-black, $sage-blue);

	@include large {
		padding: 6rem;
	}

	@include medium {
		padding: 4rem;
	}

	@include small {
		padding: 2rem;
	}
}

div.homeheader {
    vertical-align: top;
    text-align: center;

	@include large {
		width: 14rem;
	}

	@include medium {
		width: 10rem;
	}

	@include small {
		width: 6rem;
	}
}

div.pnfheader {
    vertical-align: top;
    text-align: left;
}

img.homeheaderlogo {
	display: inline;
	margin-left: auto;

	@include large {
		width: 14rem;
		height: 14rem;
	}

	@include medium {
		width: 10rem;
		height: 10rem;
	}

	@include small {
		width: 6rem;
		height: 6rem;
	}
}

h1.project-name {
	margin-top: 0;
    margin-bottom: 0;
}

h2.project-tagline {
    margin-bottom: 1rem;
}

main.home-content {
	margin: 0;

	@include large {
		padding: 6rem;
	}

	@include medium {
		padding: 4rem;
	}

	@include small {
		padding: 2rem;
	}

	blockquote {
		padding: 0;
		font-style: italic;
	}

	pre {
		font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
		font-size: 1rem;
		color: $body-text-color;
		padding: 1rem 1.5rem;
	}

	code {
		font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
		font-size: 1rem;
		color: $sage-white;
		padding: 0;
	}
}


// Regular page
header.page-header {
	color: $header-heading-color;
	background-color: $header-bg-color;
	background-image: linear-gradient(90deg, $sage-black, $sage-blue);
	text-align: left;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 0;
}

div.pageheader {
    display: flex;
    align-items: center;
}

div.pageheaderlogo {
	display: flex;
    align-items: center;
	justify-content: center;
	height: 6rem;
	width: 6rem;
	min-width: 6rem;
	transition: 1s;
}

img.pageheaderimg {
	width: 5rem;
	height: 5rem;
	transition: 1s;
}

div.pageheadertext {
	display: inline;
}

div.pageheadertitle {
    display: flex;
    vertical-align: middle;
	padding: 0;
}

h1.page-name {
	margin: 0;
	font-size: 2rem;
	transition: 1s;
}

div.pageheadersubtitle {
	display: flex;
    vertical-align: middle;
	padding: 0;
}

h2.page-name-sub {
	margin: 0;
	font-size: 1.2rem;
	transition: 1s;
}

main.page-content {
	margin: 0;
	max-width: 100%;
	padding-top: 11rem;

	@include large {
		padding-left: 5rem;
		padding-right: 5rem;
		font-size: 1.2rem;
	}

	@include medium {
		padding-left: 3rem;
		padding-right: 3rem;
		font-size: 1.1rem;
	}

	@include small {
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1rem;
	}

	blockquote {
		padding: 0;
		font-style: italic;
	}

	pre {
		font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
		color: $body-text-color;
		padding: 1rem 1.5rem;
	}

	code {
		font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
		color: $sage-white;
		padding: 0;
	}
}

.main-content .highlight pre, .main-content pre {
    border-radius: 0;
}

a.headerlink {
	color: $sage-grey-light;
	margin-right: 1em;
}

a:link {
	text-decoration: none;
}

a:hover,
a.headerlink:hover {
	color: $sage-aqua;
	transition: 0.5s;
}

a img {
	padding: 0;
	margin: 0;
	display: block;
}

br {
	display: block;
	content: "";
	margin-top: 2em;
}


// Docker cheat sheet
.outercollapsible,
.innercollapsible {
	background-color: $sage-grey-dark;
	outline: none;
	text-align: left;
	width: 100%;
}

.outercollapsible {
	border: none;
	padding: 5px;
	transition: 0.2s;
}

.innercollapsible {
	background-color: $sage-grey-dark-extra;
	border: 2px solid $sage-grey-dark-extra;
	padding: 0px;
}

.active,
.outercollapsible:hover,
.innercollapsible:hover {
	background-color: $sage-grey-medium;
}

.outercollapsible:before,
.innercollapsible:before {
	color: $sage-white;
	content: '\002B';
	float: left;
	font-weight: bold;
	margin-left: 5px;
}

.outercollapsible:after {
	margin-left: 5px;
}

.innercollapsible:after {
	margin-left: 25px;
}

.active:before {
	content: "\2212";
}

.panelContent {
	background-color: $sage-grey-dark-extra;
	color: $sage-white;
}

.outerPanel,
.innerPanel {
	display: none;
}

.outerPanel.show,
.innerPanel.show {
	display: block;
	line-height: normal;
}

div.panelContent pre {
	background-color: $sage-grey-dark-extra;
	color: $sage-grey-medium-light;
	margin: 0;
	overflow-y: hidden;
	overflow-x: auto;
	tab-size: 4;
	white-space: pre;
}

div.panelContent pre code {
	background-color: $sage-grey-dark-extra;
}

a.viewcontrol {
	color: $sage-grey-light;
}

h3 {
	margin-top: 0;
}
