<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title | default: site.title | default: site.github.repository_name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<meta name="theme-color" content="#00324b">
	<meta name="msapplication-TileColor" content="#00324b">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="icon" href="/images/favicon.ico" sizes="any">
	<link rel="icon" type="image/svg+xml" href="/images/icon.svg">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/icon-180-apple-touch.png">
	<link rel="manifest" href="/images/site.webmanifest">
</head>

<body>

	<a id="skip-to-content" href="#content">Skip to content</a>

	<header class="page-header" role="banner">
		<div class="pageheader">
			<div>
				<a href="/">
					<img class="pageheaderlogo" alt="nmbell logo link to homepage" src="/images/icon-75.png">
				</a>
			</div>
			<div>
				<span class="pageheadertitle">
					<h1 class="page-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
				</span>
			</div>
		</div>
	</header>

	<main id="content" class="main-content page-content" role="main">
		{{ content }}
	</main>

</body>

</html>